#cabecera{
    height: 200px;
    width: auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
}
#cuerpo{
    background-color: saddlebrown;
    height: 800px;
    
}

#left{
    height: 800px;
    width: 300px;
    background-color: cadetblue;
    float: left;
    position: relative;
}
#rigth{
    height: 800px;
    width: 300px;
    background-color: royalblue;
    float: right;
}

#formentradas{
  height: 800px;
  width: 400px;
  background-color: seashell;  
  top: 40%;
  left: 50%;
  margin-left: -200px;
  
  position: absolute;
  
  
  

}























































/* Menu contextual */
#menu {
    text-align: center;
    
    font-size: 0.7em;
    width: 540px;
    margin-left:-270px;
    left: 50%;
    margin-top:0px;
    position:absolute;
        z-index:3;
  }
  
  #menu ul {
    list-style-type: none;
  }
  
  #menu ul li {
    width: 162px;
  
  }
  
  #menu ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color:#58A9D0;
    border: solid 1px #fff;
    padding: 8px;
    position: relative;
  }
  
  #menu ul li ul li a {
    width: 160px;
    padding: 8px 0px;
    border-top-color: transparent;
  }
  
  #menu ul li ul {
    display: none;
  }

/* Menu Especificas */


  #menu ul li ul li ul li a.primera {
    border-top-color: #fff;
  }
  
  #menu ul li.nivel1 { 
    float: left;
    margin-right: 0px;
  }
/* Menu Especificas */

  #menu ul li:hover {
    position: relative;
  }
  
  #menu ul li a:hover, #menu ul li:hover a.nivel1 {
    background-color: #58A9D0;
    color: #000;
    position: relative;
  }
  
  #menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
    display: block;
    position: absolute;left: 0px;
  }
  
  #menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
    display: block;
    position: absolute;
    left: 161px;
    top:0px;
  }
  #menu ul li ul li a:hover {
    border-top-color: #000;
    position: relative;
  }