#contenedor{
	width:100%;
	background-image:url(fondo.jpg);
  }
#cabecera{
	width:100%;
	background:#58A9D0;
	height:120px;}

#logo{height:120px;
	   width:300px;
	   float:left;}

#registro{ height:120px;
		   width:700px;
		   background:none;
		   color:black;
		   float:right;}

#grupocabecera {height:120px;
				width:1000px;
				margin:auto;}


#cabecera2{
	width:100%;
	background:#3565BC;
	float: left;
	height: 30px;
	border-top:1px solid #f7f7f7;
position:relative;
z-index:2;}

#c_44fcc4f41e4935121ba8446c79dd6aa5{
	margin:auto;
	margin-top:30px;
	width:40px;
	height:20px;	
	}

#cuerpo{background:#3565BC;
	    height:965px;
	    width:1004px;
	    margin:auto;
      position:relative;
      z-index:1;
      margin-top:30px;
	}

#izquierda{
	height:969px;
	background:white;
	width:700px;
	float:left;
	}
#derecha{
	height:969px;
	width:300px;;
	background:#EEF3F5;
	float:right;
	
	color:white;
 	border-right:2px;}
/*esto es copiar*/
#turismo{width:690px;
		 height:150px;
		 margin-top:20px;}
		}
#ade{width:690px;
	 height:150px;
	 margin-top:50px;}

#electronica{width:690px;
	 		 height:150px;
	 		 margin-top:50px;}

#mecanica{width:690px;
	 	  height:150px;
	 	  margin-top:50px;}

#imagenade{float:right;}

#imagenturismo{float:left;}

.grados{font-family:arial;
		text-align:justify;}
.titulosgrados{font-family:arial;
			   text-align:justify;
			   font-size:20px;}

/* hasta aqui */

#pie {width:100%;
      height:240px;
      background:grey;
      margin-top:5px}
textarea {width:200px;
		  height:25px;
		  text-align:left;
		  border:2px solid black;
		  border-radius:5px;		  
		  resize:none;
		  }
	


body{margin:0px;font-family:Arial;font-size:14px;}


* {
  margin: 0px;
  padding: 0px; 
  outline: 0;
}

/*MENUS DESPLEGABLES*/

#menu {
  text-align: center;
  font-size: 0.7em;
  width: 540px;
  margin-left:259px;
  margin-top:0px;
  position:absolute;
      z-index:3;
}

#menu ul {
  list-style-type: none;
}

#menu ul li {
  width: 162px;

}

#menu ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color:#58A9D0;
  border: solid 1px #fff;
  padding: 8px;
  position: relative;
}

#menu ul li ul li a {
  width: 160px;
  padding: 8px 0px;
  border-top-color: transparent;
}

#menu ul li ul {
  display: none;
}

/* PROPIEDADES ESPECÍFICAS */

#menu ul li ul li ul li a.primera {
  border-top-color: #fff;
}

#menu ul li.nivel1 { 
  float: left;
  margin-right: 0px;
}


/* PROPIEDAD HOVER */

#menu ul li:hover {
  position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
  background-color: #58A9D0;
  color: #000;
  position: relative;
}

#menu ul li:hover  ul.nivel2, #menu ul li a:hover  ul.nivel2{
  display: block;
  position: absolute;left: 0px;
}

#menu ul li ul li a:hover ul.nivel3, #menu ul li ul li:hover ul.nivel3 {
  display: block;
  position: absolute;
  left: 161px;
  top:0px;
}
#menu ul li ul li a:hover {
  border-top-color: #000;
  position: relative;
}


/*CARTAS ROTATIVAS*/

.flip-card {
  background-color:transparent;
  float:left;
  width: 300px;
  height: 300px;
  border-radius: 5px solid #f1f1f1;
  perspective: 1000px;}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 300px;
  height:300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;

}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/*CARTA DOS*/

.flip-card2 {
  background-color: transparent;
  position:relative;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float:right; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner2 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back2 {
  background-color:orange;
  color: white;
  transform: rotateY(180deg);
}


.flip-card3 {
  background-color: transparent;
  position:relative;
  margin-top: 40px;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float:left; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner3 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card3:hover .flip-card-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front3, .flip-card-back3 {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front3 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back3 {
  background-color:purple;
  color: white;
  transform: rotateY(180deg);
}

/* flip car 4*/

.flip-card4 {
  background-color: transparent;
  position:relative;
  margin-top: 40px;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  float:right; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner4 {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card4:hover .flip-card-inner4 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front4, .flip-card-back4 {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front4 {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back4 {
  background-color:green;
  color: white;
  transform: rotateY(180deg);
}

#calendar {
      font-family:Arial;
      font-size:12px;
      width:100%;
    }
    #calendar caption {
      text-align:left;
      padding:5px 10px;
      background-color:#003366;
      color:#fff;
      font-weight:bold;
      font-size:medium;
    }
    #calendar caption div:nth-child(1) {float:left;}
    #calendar caption div:nth-child(2) {float:right;}
    #calendar caption div:nth-child(2) a {cursor:pointer;}
    #calendar th {
      background-color:#006699;
      color:#fff;
      width:40px;
    }
    #calendar td {
      text-align:right;
      padding:2px 5px;
      background-color:silver;
    }
    #calendar .hoy {
      background-color:red;
    }


#mapa{margin-top:80px}






    * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top:20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}